<%# form_for(@quote, html: { class: "form-horizontal", role: "form" }) do |f| %>
<%= form_tag(quotes_path, class: "form-horizontal", role: "form") do %>

    <% @quote.quotes.each do |quote| %>
        <div class="form-group">
          <%= label_tag 'quote[][text]', 'The Quote', class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= text_area_tag 'quote[][text]',  quote.text, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag 'quote[][attribution]', 'Who Said It?', class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= text_field_tag 'quote[][attribution]', quote.attribution ? quote.attribution.name : '', class: "form-control" %>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= label_tag :author, 'Who Are You?', class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= text_field_tag :author, @quote.author ? @quote.author.name : '', class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%# link_to 'Add Another Part', add_multi_part_quote, class: 'btn btn-primary', remote: true %>
        <%= submit_tag 'Create Quote', class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
