<% quote ||= nil %>
<% width ||= 6 %>
<% mpq = quote %>
<% query ||= nil %>

<% if mpq %>
    <div class="col-xs-12 col-sm-<%=width%>">
      <div class="quote-box">
        <table class="table table-bordered table-responsive">
          <tbody>
          <tr>
            <td colspan="3">
              <div class="watermark">
                <span>“</span>
              </div>
              <div class="watermark-content">
                <% mpqs = mpq.quotes.order(order: :asc) %>
                <% if mpqs.size == 1 %>
                    <% mpqs.each do |q| %>
                        <p class="quote"><%= highlight q.text, query %></p>
                        <p class="attribution"><%= display_person(q.attribution, query) %></p>
                    <% end %>
                <% else %>
                    <% mpqs.each do |q| %>
                        <p>
                          <span class="attribution quote"><%= display_person(q.attribution, query) %>:</span>
                          <span class="quote"><%= highlight q.text, query %></span>
                        </p>
                    <% end %>
                <% end %>
                <% score = mpq.score.nil? ? 0 : mpq.score %>
              </div>
            </td>
          </tr>
          <tr>
            <td class="vote up-<%=mpq.id%>">
              <%= render partial: 'quotes/upvote', locals: {value: 1, mpq: mpq, vote: current_user ? current_user.votes.where(multi_part_quote: mpq).first : nil} %>
            </td>
            <td>
              <span class="author">Submitted by: <%= display_person(mpq.author, query) %></span>
              <div class="score-<%=mpq.id%>">
                <%= render partial: 'quotes/score', locals: {score: score} %>
              </div>
            </td>
            <td class="vote dn-<%=mpq.id%>">
              <%= render partial: 'quotes/upvote', locals: {value: -1, mpq: mpq, vote: current_user ? current_user.votes.where(multi_part_quote: mpq).first : nil} %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
<% end %>