<% if current_user.nil? %>
    <div class="full">
      <span class="glyphicon <%=value > 0 ? 'glyphicon-plus' : 'glyphicon-minus'%>"></span>
    </div>
<% elsif vote %>
    <% if((vote.value > 0 && value > 0) || (vote.value < 0 && value < 0)) %>
        <%= link_to vote_for_path(user_id: current_user ? current_user.id : nil, quote_id: mpq.id, value: value), remote: true do %>
          <div class="full <%= value > 0 ? 'up-voted' : 'dn-voted'%>">
            <span class="glyphicon <%=value > 0 ? 'glyphicon-plus' : 'glyphicon-minus'%>"></span>
          </div>
        <% end %>
    <% else %>
        <%= link_to vote_for_path(user_id: current_user ? current_user.id : nil, quote_id: mpq.id, value: value), remote: true do %>
            <div class="full">
              <span class="glyphicon <%=value > 0 ? 'glyphicon-plus' : 'glyphicon-minus'%>"></span>
            </div>
        <% end %>
    <% end %>
<% else %>
    <%= link_to vote_for_path(user_id: current_user ? current_user.id : nil, quote_id: mpq.id, value: value), remote: true do %>
        <div class="full">
          <span class="glyphicon <%=value > 0 ? 'glyphicon-plus' : 'glyphicon-minus'%>"></span>
        </div>
    <% end %>
<% end %>
