<div class="page-header">
  <%= link_to new_quote_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Quote
  <% end %>
  <h1>Listing quotes</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Text</th>
            <th>Attribution</th>
            <th>Author</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @quotes) do |quote| %>
            <td><%= quote.text %></td>
            <td><%= quote.attribution %></td>
            <td><%= quote.author %></td>
            <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
