<% band ||= nil %>
<% width ||= 6 %>
<% query ||= nil %>

<% if band %>
    <div class="col-xs-12 col-sm-<%=width%>">
      <div class="quote-box">
        <table class="table table-bordered table-responsive">
          <tbody>
          <tr>
            <td colspan="3">
              <p class="quote"><%= highlight band.name, query %></p>
              <p class="attribution"><%= highlight display_person(band.person), query %></p>
            </td>
          </tr>
          <tr>
            <td class="vote up-band-<%=band.id%>">
              <%= render partial: 'quotes/upvote', locals: {value: 1, mpq: nil, band: band, vote: current_user ? current_user.votes.where(band_name_id: band).first : nil} %>
            </td>
            <td style="vertical-align: middle">
              <div class="score-band-<%=band.id%>">
                <%= render partial: 'quotes/score', locals: {score: band.score} %>
              </div>
            </td>
            <td class="vote dn-band-<%=band.id%>">
              <%= render partial: 'quotes/upvote', locals: {value: -1, mpq: nil, band: band, vote: current_user ? current_user.votes.where(band_name_id: band).first : nil} %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
<% end %>
