<div class="page-header">
<h1>My Account</h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal', role: 'form' }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email, class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password, 'New Pasword', class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, 'New Password Confirmation', class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :current_password, class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= f.submit "Update Login", class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>

    <%= form_tag(update_user_path, class: 'form-horizontal', role: 'form') do %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= label_tag :name, 'Name', class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
          <%= text_field_tag :name, (current_user && current_user.person) ? current_user.person.name : '', autofocus: true, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= submit_tag 'Update User',  class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>

    <!--
    <h3>Cancel my account</h3>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-secondary' %></p>
    -->
  </div>

  <% if(current_user.person) %>
      <%= render partial: 'people/show', locals: {person: current_user.person, width: 12} %>
  <% end %>
</div>
