<% width ||= 6 %>

<div class="col-xs-12 col-sm-<%=width%>">
  <h3><%= link_to person.name, person %></h3>
  <table class="table-responsive table table-bordered table-hover">
    <tbody>
    <tr>
      <td><strong>Quotes</strong></td>
      <td><%= person.quotes.count %></td>
    </tr>
    <tr>
      <td><strong>Authorships</strong></td>
      <td><%= person.entries.count %></td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <%= render partial: 'quotes/show', locals: {quote: person.quotes.order(score: :desc).first, width: 12} %>
  </div>
</div>
